:root {
	--background: linear-gradient(
		146deg,
		rgba(255, 159, 164, 0.938813025210084) 35%,
		rgba(255, 53, 233, 1) 100%
	);
	--secondary: #ff9fa4;
	--primary: #f53f7d;
	--warning: "";
	--borderRadius: 0px;
	--alter: #dc3545;
	--warning: #ffc107;
	--info: #17a2b8;
	--success: #155724;
	--textNormal: #333;
	--textPrimary: #ffffff;
	--bgWhite: #eff2f3;
	--bold: 550;
	--font-family-sans-serif: "Haas Grot Text R Web", "Helvetica Neue",
		"Helvetica", "Arial", "sans-serif";
	--font-family-monospace: "SFMono-Regular", "Menlo", "Monaco", "Consolas",
		"Liberation Mono", "Courier New", "monospace";
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	border: none;
	font-family: var(--font-family-sans-serif);
}
input {
	border: 1px solid black;
}
.bg-primary {
	background-color: var(--primary);
}
.bg-secondary {
	background-color: var(--secondary);
}
.bg-warning {
	background-color: var(--alter);
}
.bg-warning {
	background-color: var(--warning);
}
.bg-info {
	background-color: var(--info);
}
.bg-success {
	background-color: var(--success);
}
.title {
	color: var(--yellow-color);
}
.demo {
	width: 100%;
	height: 100%;
	display: flex;
	direction: row;
	align-items: center;
	justify-content: center;
	align-content: center;
	padding: 30px;
}
.page {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.c-button {
	background-color: var(--primary);
	padding: 15px;
	color: var(--bgWhite);
	cursor: pointer;
	position: relative;
	border-radius: var(--borderRadius);
	font-weight: 600;
}
.c-button:hover {
	background: var(--primary);
	color: white;
	transition: 0.2s;
	font-weight: 700;
}
.c-button::after {
	content: "";
	width: 0%;
	position: absolute;
	border-radius: 100%;
	height: 100%;
	top: 0;
	left: 50%;
	transition: 0.2s;
}
.c-button:active:after {
	content: "";
	width: 100%;
	position: absolute;
	height: 100%;
	background-color: rgba(225, 225, 225, 0.2);
	border-radius: 0%;
	top: 0;
	left: 0%;
}

.c-text-filed {
	padding: 15px;
	border: none;
	border-width: 1px;
	border-color: var(--primary);
	border-style: solid;
	border-radius: var(--borderRadius);
}

.c-text-filed:focus {
	border-width: 2px;
	border-radius: var(--borderRadius);
}
.outline-text-filed:focus .label-text-filed {
	colort: var(--success);
}

.label-text-filed {
	position: absolute;
	top: calc(0px - 1rem + 10px);
	color: var(--primary);
	font-size: 0.8rem;
	left: 10px;
	background-color: white;
	padding: 0px 5px 0px 5px;
}
.outline-text-filed {
	position: relative;
	display: flex;
}
.icon-c-text-filed {
	position: absolute;
}
.text-helper-text-filed {
	color: var(--alter);
	font-size: 0.8rem;
	position: absolute;
	right: 10px;
	bottom: calc(0px - 1rem - 0px);
}

.c-checkbox {
	text-rendering: auto;
	color: var(--primary);
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
	input[type="checkbox"],
	input[type="radio"] {
		--active: var(--primary);
		--active-inner: #fff;
		--border: var(--primary);
		-webkit-appearance: none;
		-moz-appearance: none;
		height: 22px;
		outline: none;
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 0;
		cursor: pointer;
		border: 1px solid var(--bc, var(--border));
		background: var(--b, var(--background));
		transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
	}
	input[type="checkbox"]:after {
		content: "";
		display: block;
		left: 0;
		top: 0;
		position: absolute;
		transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
			opacity var(--d-o, 0.2s);
	}

	input[type="checkbox"]:checked {
		background: var(--active);
		--b: var(--active);
		--bc: var(--active);
		--d-o: 0.3s;
		--d-t: 0.6s;
		--d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
	}

	input[type="radio"]:checked:after {
		content: "";
		display: block;
		left: 0;
		top: 0;
		position: absolute;
		background-color: var(--active);
		transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
			opacity var(--d-o, 0.2s);
	}
	input[type="radio"]:checked {
		--d-o: 0.3s;
		--d-t: 0.6s;
		--d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
	}

	input[type="checkbox"]:not(.switch),
	input[type="radio"]:not(.switch) {
		width: 21px;
	}
	input[type="checkbox"]:not(.switch):after,
	input[type="radio"]:not(.switch):after {
		opacity: var(--o, 2);
	}
	input[type="checkbox"]:not(.switch):checked,
	input[type="radio"]:not(.switch):checked {
		--o: 0.8;
	}
	input[type="checkbox"] + label,
	input[type="radio"] + label {
		font-size: 14px;
		line-height: 21px;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		margin-left: 4px;
	}

	input[type="checkbox"]:not(.switch) {
		border-radius: 7px;
	}
	input[type="checkbox"]:not(.switch):after {
		width: 5px;
		height: 9px;
		border: 2px solid var(--active-inner);
		border-top: 0;
		border-left: 0;
		left: 6px;
		top: 3px;
		transform: rotate(var(--r, 20deg));
	}
	input[type="checkbox"]:not(.switch):checked {
		--r: 43deg;
	}
	input[type="checkbox"].switch {
		width: 38px;
		border-radius: 11px;
	}
	input[type="checkbox"].switch:after {
		left: 2px;
		top: 2px;
		border-radius: 50%;
		width: 15px;
		height: 15px;
		background: var(--ab, var(--border));
		transform: translateX(var(--x, 0));
	}
	input[type="checkbox"].switch:checked {
		--ab: var(--active-inner);
		--x: 17px;
	}
	input[type="checkbox"].switch:disabled:not(:checked):after {
		opacity: 0.6;
	}

	input[type="radio"] {
		border-radius: 50%;
	}
	input[type="radio"]:after {
		width: 19px;
		height: 19px;
		border-radius: 50%;
		opacity: 0;
		transform: scale(var(--s, 0.7));
	}
	input[type="radio"]:checked {
		--s: 0.5;
	}
}

.page-login{
	display: grid;
	align-items: center;
	height: 100vh;
	justify-content: center;
	background: var(--background);
	text-align: center;
}
.fr-login{
	background-color: white;
	padding : 40px 80px;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-gap: 40px;
}
.fr-input-login{
	display: grid;
	align-items: center;
	grid-gap : 30px;
	/* background-color: red; */
}

.link-login{
	color : var(--primary);
	cursor: pointer;
}
.fr-menu {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	justify-self: center;
	box-shadow: 0px 6px 12px rgb(0 0 0/18%);
	position: fixed;
	z-index: 10;
	background-color: white;
}
.menu {
	display: grid;
	justify-content: center;
	grid-column: 2/12;
	grid-template-columns: repeat(8, 1fr);
	justify-items: center;
	grid-template-rows: 70px;
	align-items: center;
}
.menu-item {
	text-transform: uppercase;
	padding: 10px;
}

.slider {
	padding: 30px;
	text-align: center;
	font-size: 2rem;
}

.policy-home {
	background-color: #efefef;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	padding: 30px;
}

.container-policy-home {
	display: grid;
	grid-column: 3/12;
	grid-template-columns: repeat(4, 1fr);
}
.container-policy-home * {
	display: grid;
	align-items: center;
	padding: 5px;
	text-align: center;
	align-items: center;
	justify-items: center;
}

.info-footer-home {
	display: grid;
	grid-column: 3/12;
	grid-template-columns: repeat(3, 1fr);
}

.info-footer-home .info-footer {
	display: grid;
	justify-items: center;
}

.info-footer-home .info-footer p {
	text-align: center;
	padding: 10px;
}

.header-info {
	border-bottom: 1px dashed #000;
}
.info-detail {
	color: var(--primary);
	font-size: 2rem;
}

.footer-copyright {
	padding: 10px;
	background-color: var(--primary);
	color: white;
	text-align: center;
}

.fr-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.container {
	display: grid;
	grid-column: 2/12;
}
.banner {
	width: 100%;
}
.banner img {
	width: 100%;
}

.header-name-product {
	font-size: 2rem;
	font-weight: bold;
	padding: 30px;
}
.filer-product {
	display: grid;
	grid-template-columns: repeat(10, 100px);
	grid-gap: 15px;
	padding: 20px;
}
.filer-product > div {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.name-filer::before {
	content: "";
	background-color: var(--primary);
	position: absolute;
	width: 0%;
	height: 0%;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.name-filer:hover {
	color: white;
}

.name-filer:hover:before {
	transition: 0.4s;
	width: 100%;
	height: 100%;
}

.list-product {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: repeat(auto, 550px);
	grid-gap: 10px;
}

.fr-product {
	display: grid;
	justify-items: center;
}

.product {
	width: 300px;
	height: 400px;
}

.img-product {
	height: 300px;
	width: 100%;
	overflow: hidden;
	background-color: blue;
}
.img-product > img {
	width: 100%;
}
.content-product {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100px;
}
.name-price-product {
	display: grid;
	grid-template-rows: 2fr 1fr;
	align-items: center;
	/* justify-items: center; */
}
.price-product {
	align-self: flex-start;
	color: var(--primary);
}

.vote-product {
	display: grid;
	grid-template-rows: 2fr 1fr;
	align-items: center;
}
.number-vote {
	display: grid;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	justify-items: center;
}

/* product detail */
.info-product-detail {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}
.img-product-detail {
	display: grid;
	justify-self: flex-end;
}
.content-detail {
	display: grid;
	justify-self: flex-start;
	align-items: flex-start;

}

.name-product-detail {
	font-size: 2rem;
	font-weight: 600;
}
.price-product-detail {
	color: var(--primary);
	font-size: 1.5rem;
}
.info-policy-page-detail{
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-row-gap:  20px;
	padding : 20px 0px;
}
.title-policy-product{

}
.content-policy-product{
	font-size: 0.8rem;
	color : #333
}
.order-product-detail{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px ;

}

.option-color{
	display: grid;
	grid-template-columns: 90px 1fr;
	align-items: center;
	grid-column-gap:10px ;
	
}

.btn-color-option{
	border-radius: 50%;
	height: 30px;
	width: 30px;
	margin : 0px 1px;
	cursor: pointer;
}


/* cart */

.list-cart{
	display: grid;
	justify-items: center;
}
.delete-cart{
	width: 100%;
	padding : 5px;
	background: none;
	cursor: pointer;
}
.delete-cart:hover{
	color : var(--alter)
}
.cart-product{
	display: grid;
	grid-template-columns: 90px 1fr 1fr;
	grid-template-rows: repeat(auto ,150px);
	padding : 5px;
	background-color: white;
	margin: 5px 0px;
}

.cart-product >div{
	padding : 10px
}

.list-cart img{
	width: 100%;
}
.input-change-amount{
	height: 30px;
	width: 30px;
	border : none;
	text-align: center;
}
.btn-change-amount{
	height: 30px;
	width: 30px;
	cursor: pointer;
}
.action-price{
	display: grid;
	align-items: center;
	justify-items: center;
}
.info-product-cart{
	display: grid;
	grid-gap : 10px;
	align-items: flex-start;
}
.info-product-cart >div{
	padding : 10px 0px;
	align-self: start;
	
}

.price-cart{
	color : var(--alter)
}

.fr-sum-price-cart{
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-weight: 550;
	
}
.fr-sum-price-cart >div{
	padding : 10px
}

/* product detail */

.info-product-detail {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}
.img-product-detail {
	display: grid;
	justify-self: flex-end;
}
.content-detail {
	display: grid;
	justify-self: flex-start;
	align-items: flex-start;

}

.name-product-detail {
	font-size: 2rem;
	font-weight: 600;
}
.price-product-detail {
	color: var(--primary);
	font-size: 1.5rem;
}
.info-policy-page-detail{
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-row-gap:  20px;
	padding : 20px 0px;
}
.title-policy-product{

}
.content-policy-product{
	font-size: 0.8rem;
	color : #333
}
.order-product-detail{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px ;

}

.option-color{
	display: grid;
	grid-template-columns: 90px 1fr;
	align-items: center;
	grid-column-gap:10px ;
	
}

.btn-color-option{
	border-radius: 50%;
	height: 30px;
	width: 30px;
	margin : 0px 1px;
	cursor: pointer;
}

/* info customer  */
.container-info-customer{
	display: grid;
	justify-content: center;
	padding :  100px 0px;
	background: var(--background);
}
.fr-info{
	background-color: white;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-row-gap: 30px;
	padding : 50px;
}
.fr-info >h2{
	font-size: 1.5rem;
	text-transform: uppercase;
}
.fr-input-info-customer{
	display: grid;
	grid-row-gap :20px
}